@font-face
  font-family: 'SuisseIntl-Regular'
  src: url(https://fav-prom.com/html/champion-challenge-tizer/fonts/SuisseIntl-Regular.woff)
  font-weight: 400

@font-face
  font-family: 'SuisseIntl-Bold'
  src: url(https://fav-prom.com/html/champion-challenge-tizer/fonts/SuisseIntl-Bold.woff)
  font-weight: 700

@font-face
  font-family: 'QuadroTightRegular'
  src: url(https://fav-prom.com/html/champion-challenge-tizer/fonts/QuadroTightRegular.woff)
  font-weight: 400

@font-face
  font-family: 'FavbetDisplay-Medium'
  src: url(https://fav-prom.com/html/champion-challenge-tizer/fonts/FavbetDisplay-CondensedMedium.woff)
  font-weight: 500

@font-face
  font-family: 'FavbetDisplay-Bold'
  src: url(https://fav-prom.com/html/champion-challenge-tizer/fonts/FavbetDisplay-CondensedBold.woff)
  font-weight: 700


@font-face
  font-family: 'FavbetText-Regular'
  src: url(../fonts/FavbetText-Regular.woff)
  font-weight: 400